/*banner start*/
.banner {
	height: 500px;
	background-color: #F5F5F5;
}

.banner .wrapper {
	position: relative;
	height: 500px;
}

/*侧边栏*/
.banner .aside {
	position: absolute;
	left: 0;
	top: 0;
	width: 250px;
	height: 500px;
	background-color: rgba(0, 0, 0, .8);
}

.banner .aside li {
	height: 50px;
	line-height: 50px;
}

.banner .aside li a {
	position: relative;
	display: block;
	padding-left: 35px;
	padding-right: 19px;
	height: 50px;
	color: #FFF;
}

.banner .aside li a:hover {
	background-color: #27BA9B;
}

.banner .aside li span {
	font-size: 14px;
	margin-left: 15px;
}

.banner .aside a::after {
	position: absolute;
	right: 19px;
	top: 19px;
	content: "";
	width: 6px;
	height: 11px;
	background-image: url(../images/sprites.png);
	background-position: -80px -110px;
}

/*箭头*/
.banner .prev,
.banner .next {
	position: absolute;
	top: 228px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .2);
	background-image: url(../images/sprites.png);
}

.banner .prev {
	left: 260px;
	background-position: 14px -60px;
}

.banner .next {
	right: 10px;
	background-position: -22px -60px;
}

/*圆点*/
.banner ol {
	position: absolute;
	left: 680px;
	bottom: 30px;
	height: 10px;
}

.banner ol li {
	float: left;
	margin-right: 24px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, .48);
	cursor: pointer;
}

.banner ol .active {
	background-color: #FFF;
}

/*banner end*/
/*商品栏 start*/
.brand .hd,
.popular .hd,
.goods .hd {
	height: 114px;
	line-height: 114px;
}

.brand .hd h2,
.popular .hd h2,
.goods .hd h2 {
	float: left;
	height: 114px;
	font-size: 29px;
	font-weight: 400;
}

.brand .hd h2 span,
.popular .hd h2 span,
.goods .hd h2 span {
	font-size: 16px;
	color: #999;
}
.top-new .hd a,
.fresh .hd .more,
.popular .hd a,
.goods .hd a {
	float: right;
	color: #999;
}

.top-new .hd a::after,
.fresh .hd .more::after,
.popular .hd a::after,
.goods .hd a::after {
	display: inline-block;
	margin-left: 13px;
	content: "";
	width: 7px;
	height: 13px;
	background-image: url(../images/sprites.png);
	background-position: 0 -110px;
	vertical-align: middle;
}

.popular .bd li,
.goods .bd li {
	position: relative;
	float: left;
	margin-right: 8px;
	width: 304px;
	height: 405px;
	background-color: #F0F9F4;
	text-align: center;
}

.brand .bd li:last-child,
.popular .bd li:last-child,
.goods .bd li:last-child {
	margin-right: 0;
}

.popular .bd li img,
.goods .bd li img {
	width: 304px;
}

.popular .bd li h3,
.goods .bd li h3 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 400;
}

.goods .bd li p {
	color: #9A2E1F;
	font-size: 17px;
}

.goods .bd li p span {
	font-size: 23px;
}

.goods .bd li i {
	position: absolute;
	top: 17px;
	left: 18px;
	width: 28px;
	height: 51px;
	border: 1px solid #27BA9B;
	border-radius: 2px;
	line-height: 24px;
	font-size: 18px;
	color: #27BA9B;
}

.popular .bd li {
	background-color: #FFF;
}

.popular .bd li h3 {
	font-size: 21px;
}

.popular .bd li p {
	font-size: 16px;
	color: #999;
}

/*热门品牌*/
.brand {
	margin-top: 20px;
	height: 466px;
	background-color: #F5F5F5;
}

.brand .hd {
	position: relative;
}

.brand .hd .prev,
.brand .hd .next {
	position: absolute;
	top: 79px;
	width: 22px;
	height: 22px;
	background-color: #E2E2E2;
	background-image: url(../images/sprites.png);
}

.brand .hd .prev {
	right: 40px;
	background-position: 4px -70px;
}

.brand .hd .next {
	right: 10px;
	background-position: -35px -70px;
}

.brand .hd .active {
	background-color: #27BA9B
}

.brand .bd li {
	float: left;
	margin-right: 2px;
	width: 244px;
	height: 306px;
	text-align: center;
}

.brand .bd li img {
	width: 244px;
}

/*商品栏 end*/
/*生鲜 start*/
.top-new .hd,
.fresh .hd {
	height: 96px;
	line-height: 96px;
}
.top-new .hd h2,
.fresh .hd h2 {
	float: left;
	font-size: 29px;
	font-weight: 400;
}

.fresh .hd .more {
	float: right;
}
.fresh .hd ul{
	float: right;
	margin-right: 65px;
}
.fresh .hd li {
	float:left;
}
.fresh .hd li a{
	margin-left: 6px;
	padding: 2px 7px;
}
.fresh .hd li a:hover{
	background-color: #27BA9B;
	color: #fff;
}
.fresh .bd .left{
	float: left;
	width: 240px;
	height: 610px;
}
.fresh .bd .right{
	float: left;
	width: 1000px;
}
.fresh .bd .right li{
	float: left;
	margin-left: 8px;
	width: 242px;
	height: 304px;
}
.fresh .bd .right li img{
	width: 184px;
	height: 184px;
}
.fresh .bd .right li p{
	font-size: 17px;
	color: #9a2e1f;
}
.fresh .bd .right li span{
	font-size: 22px;
}
/*生鲜 end*/
/*最新专题 start*/
.top-new{
	width: 100%;
	background-color: #F5F5F5;
}
.top-new .hd{
	height: 96px;
	line-height: 96px;
}
.top-new .bd li{
	position: relative;
	float: left;
	margin-right: 10px;
	width: 404px;
	height: 356px;
}
.top-new .bd li:last-child{
	margin-right: 0;
}
.top-new .bd li img{

	width: 404px;
}
.top-new .bd li p{
	padding: 30px 20px;
	font-size: 14px;
}
.top-new .bd .fl{
	float: left;
}
.top-new .bd .fr{
	float: right;
}
.top-new .bd li i{
	display: inline-block;
	width: 17px;
	height: 16px;
	background-image: url(../images/sprites.png);
}
.top-new .fl i:first-child{
	background-position: -120px -107px;
}
.top-new .fl i:last-child{
	background-position: -158px -108px;
}
.top-new .fr i{
	background-position: -200px -109px;
}
.top-new .bd .mask{
	position: absolute;
	left: 0;
	top: 222px;
	width: 100%;
	height: 100px;
	font-size: 20px;
	color: #fff;
}
.top-new .bd .mask span:last-child{
	font-size: 16px;
	color: #999;
}
.top-new .bd .price{
	position: absolute;
	right: 24px;
	background-color: #FFF;
	top: 232px;
	color: #9a2e1f;
}
.top-new .bd .price b{
	font-weight: 400;
	font-size: 14px;
}
/*最新专题 end*/